@model System.Collections.Generic.List<OzkirFramework.Northwind.Entities.Concrete.Order>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <ul>
    @foreach (var item in Model)
    {
        <li>item</li>
    }
    </ul>
</div>
</body>
</html>